* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Sans-Serif;
}

#page-wrap {
    width: 800px;
    margin: 25px auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 15px 0;
}


/* 
	LEVEL ONE
*/

ul.dropdown {
    position: relative;
}

ul.dropdown li {
    font-weight: bold;
    float: left;
    zoom: 1;
    background: #ccc;
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #ffa500;
}

ul.dropdown li a {
    display: block;
    padding: 4px 8px;
    border-right: 1px solid #333;
    color: #222;
}

ul.dropdown li:last-child a {
    border-right: none;
}


/* Doesn't work in IE */

ul.dropdown li.hover,
ul.dropdown li:hover {
    background: #F3D673;
    color: black;
    position: relative;
}

ul.dropdown li.hover a {
    color: black;
}


/* 
	LEVEL TWO
*/

ul.dropdown ul {
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.dropdown ul li {
    font-weight: normal;
    background: #f6f6f6;
    color: #000;
    border-bottom: 1px solid #ccc;
    float: none;
}


/* IE 6 & 7 Needs Inline Block */

ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}


/* 
	LEVEL THREE
*/

ul.dropdown ul ul {
    left: 100%;
    top: 0;
}

ul.dropdown li:hover>ul {
    visibility: visible;
}


/* Dropdown Button */

.dropbtn {
    background-color: rgba(52, 152, 219, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(41, 127, 185, 0);
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: inline-block;
    position: absolute;
    background-color: #2d3748;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(221, 221, 221);
    color: #000000;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
    visibility: hidden;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: green;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: flex;
    background-color: white;
    padding-left: 8px;
    display: list-item;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}